<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.client.client">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ForgetActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ResetActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Bar_Personal"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Bar_Contacts"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Bar_Location"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Bar_Movable"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Bar_Setups"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
